<div class="container-fluid text-center bg">
    <h3>Стартовая страница</h3>
    <div class="container-fluid-img">
        <img src="http://www.w3schools.com/bootstrap/bird.jpg" class="img-circle">
    </div>
    <p class="lead">Для перехода на страницу с Angular-компонентами нажмите кнопку:</p>
    <a href="/interactive" class="btn btn-default">Перейти на страницу с компонентами</a>
</div>
