.nav.top-navigation {
    cursor: pointer;
    margin-top: 20px;
}

@media (min-width: 768px){
    .top-navigation{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}

.trello-card {
    border: 1px solid lightgray;
    padding: 15px;
}

.btn-group-modifiers {
    margin-top: 10px;
}

.trello-group-header {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-modifiers {
    float: right;
    width: 30px;
}

.card-data {
    margin-right: 40px;
}

.view-container span[data-editable] {
    text-decoration: underline;
}

.grid-card {
    margin: 5px 10px 0 0;
}
