<!DOCTYPE html>
<html ng-app="interactive">
    <head>
        <% include partials/head %>
        <link href="css/interactive.css" rel="stylesheet">
        <link href="bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    </head>

    <body ng-controller="MainController">
        <div class="container-fluid">
            <ul class="nav nav-tabs top-navigation">
                <li class="disabled"><a>Выберите представление</a></li>
                <li ng-repeat="tab in tabs" ng-class="{ 'active': tab.caption === page.title() }">
                    <a data-toggle="tab" data-route="{{ tab.route }}">{{ tab.caption }}</a></li>
                </li>
            </ul>
            <hr>
            <div class="container-fluid text-center">
                <p>Вы находитесь на странице <strong>{{page.title()}}</strong></p>
                <div class="btn-group">
                    <a href="/" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-home"></span> Home</a>
                </div>
            </div>
            <hr>
            <div ng-view class="view-container"></div>
        </div>
    </body>
    <% include partials/scriptLoader %>
</html>
