<div class="content">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="contact in itms">
            <div class="card-modifiers grid-card">
                <button type="button" class="btn btn-danger btn-sm" data-delete data-contact="{{contact}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div class="thumbnail" class="card-data">
                <div>
                    <label>ContactId</label>
                    <span>{{contact.contactId}}</span>
                </div>
                <div>
                    <label>Name</label>
                    <span>{{contact.name}}</span>
                </div>
                <div>
                    <label>PhoneNumber</label>
                    <span>{{contact.phoneNumber}}</span>
                </div>
                <div>
                    <label>GroupId</label>
                    <span>{{contact.groupId}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
